$include /etc/inputrc

# https://tiswww.cwru.edu/php/chet/readline/readline.html
set colored-stats On
set completion-ignore-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On
set completion-display-width 0
